* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  /*dont forget semicolon*/
}


.hero-image {
  background-image: url("images/HERO.jpg");
  height: 25%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  font-family: Impact, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 100%;

}


.topnav {
  width: 100%;
  background-color: #23003f;
  overflow: auto;
}

.topnav a {
  float: left;
  width: 25%;
  color: whitesmoke;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 14px;
  list-style-type: none;
  position: relative;
  font-family: Century Gothic, sans-serif;
}

.topnav a:hover {
  background-color: #23003f;
  color: rgb(226, 15, 138);
}

.topnav a.active {
  background-color: whitesmoke;
  color: #23003f;
  font-family: Century Gothic, sans-serif;
  font-size: 17px;
}




p {
  font-family: Century Gothic, serif;
  /*make h1 georgia if not use serif font*/
  font-size: 12pt;
  text-align: center;
  /*align text center*/
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-style: condensed;
  width: 80%;
  padding-bottom: 10px;

}

img {
  width: 60%;
  /*make all pics 60% wide*/
  display: block;
  /*have no elements to the left or right*/
  margin: 0 auto;
  /*center the image*/
  border-radius: 0%;

}


h1 {
  font-family: Century Gothic, sans-serif;
  /*make h1 georgia if not use serif font*/
  font-size: 20pt;
  text-align: center;
  /*align text center*/
  color: whitesmoke;

}


h2 {
  font-family: Century Gothic, serif;
  /*make h1 georgia if not use serif font*/
  font-size: 18pt;
  text-align: center;
  /*align text center*/
  margin-left: auto;
  margin-right: auto;
  color: #23003f;
  font-style: condensed;
  width: 80%;
  padding-bottom: 10px;
  padding-top: 30px;
}

p2 {
  font-family: Century Gothic, serif;
  /*make h1 georgia if not use serif font*/
  font-size: 12pt;
  text-align: center;
  /*align text center*/
  margin-left: auto;
  margin-right: auto;
  color: rgb(226, 15, 138);
  font-style: condensed;
  width: 80%;
  padding-bottom: 10px;

}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #e0e0e0
}

tr:nth-child(even) {
  background-color: white;
}


* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  /*center the image*/
}

.image {
  width: 100%;
  height: auto;
  /*center the image*/
  margin-bottom: 20px;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  border-radius: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 15px;
  font-family: Century Gothic, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: #23003f;
  color: white;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: rgb(226, 15, 138);
  /* Add a dark-grey background on hover */
}