* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(36, 36, 36);
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





.hero-image {
  height: 94%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: linear-gradient(-45deg, #459eec, #db00ac, #459eec, #db00ac);  
	background-size: 400% 400%;
	-webkit-animation: Gradient 12s ease infinite;
	-moz-animation: Gradient 12s ease infinite;
	animation: Gradient 12s ease infinite;
  
}

.hero-text { 
  text-align: center;
  font-family: Impact, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 100%;
}

.topnav {
  width: 100%;
  background-color: transparent; 
  overflow: auto;
  position: sticky;
}

.topnav a {
  float: left;
  width: 25%;
  color: whitesmoke;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 14px;
  list-style-type: none;
  position: relative;
  font-family: Century Gothic, sans-serif;
}


.topnav a:hover {
  background-color: whitesmoke;
  transition: .5s ease;
  color: black;
}

.topnav a.active {
  background-color: whitesmoke;
  color: #3973a5;
  font-family: Century Gothic, sans-serif;
  font-size: 17px;
}

/*.content {
  padding-top: 60px;
}*/



p {
  font-family: Century Gothic, serif;
  /*make h1 georgia if not use serif font*/
  font-size: 12pt;
  text-align: center;
  /*align text center*/
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  font-style: condensed;
  width: 80%;
  padding-bottom: 10px;

}

img {
  width: 60%;
  /*make all pics 60% wide*/
  display: block;
  /*have no elements to the left or right*/
  margin: 0 auto;
  /*center the image*/
  border-radius: 0%;

}


h1 {
  font-family: Century Gothic, sans-serif;
  /*make h1 georgia if not use serif font*/
  font-size: 20pt;
  text-align: center;
  /*align text center*/
  color: whitesmoke;

}


h2 {
  font-family: Century Gothic, serif;
  /*make h1 georgia if not use serif font*/
  font-size: 18pt;
  text-align: center;
  /*align text center*/
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  font-style: condensed;
  width: 80%;
  padding-bottom: 10px;
  padding-top: 30px;
}

p2 {
  font-family: Century Gothic, serif;
  /*make h1 georgia if not use serif font*/
  font-size: 15pt;
  text-align: center;
  /*align text center*/
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  font-style: condensed;
  width: 80%;
  padding-bottom: 10px;

}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #eeeeee
}

tr:nth-child(even) {
  background-color: white;
}




* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 250px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  /*center the image*/
}

.image {
  width: 100%;
  height: auto;
  /*center the image*/
  margin-bottom: 20px;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  border-radius: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 15px;
  font-family: Century Gothic, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: #23003f;
  color: white;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: rgb(226, 15, 138);
  /* Add a dark-grey background on hover */
}

.row {
  display: flex;
  width: 80%;
  margin: 0 auto;

}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

